@media screen and (min-width: 769px) {
    .header {
        background-size: cover;
        background-position: center;
        .logo-container {
            .image-container {
                text-align: center;
                left: 0;
                img {
                    width: 200px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        .logo-container {
            width: 1024px;
            margin: 0 auto 420px;
        }
        .intro {
            width: 1024px;
            margin: 0 auto;
            &__description {
                padding: 0 145px 100px;
            }
        }
    }
    .stay {
        flex-direction: row;
        justify-content: center;
        text-align: left;
        &-image {
            width: 540px;
            margin-bottom: 0;
        }
        &-container {
            width: 425px;
            padding-right: 65px;
            &::before {
                content: "ACCOMMODATIONS";
                display: block;
                width: 400px;
                text-align: center;
                margin-bottom: 40px;
                color: #353535;
            }
        }
        &-title {
            display: none;
        }
        .button {
            margin-left: 132px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .header {
        .logo-container, .intro {
            width: 1080px;
        }
    }
    .stay {
        &-image {
            width: 620px;
        }
        &-container {
            width: 465px;
        }
    }
}