.stay {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    background-color: $light-gray;
    padding: 70px 15px;
    width: 100vw;
    &-title, &-image, &-container__hotel {
        font-size: 1rem;
        margin-bottom: 40px;
    }
    &-image {
        width: 100vw;
    }
    &-container {
        &__hotel {
            font-family: GothamBold;
            font-size: 2rem;
            line-height: 2.5rem;
            color: $dark-gray;
        }
        &__description {
            font-size: 0.8rem;
            line-height: 1.6rem;
            margin-bottom: 70px;
        }
    }
    &-title {
        color:#353535;
    }
}

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    .events-title {
        font-size: 1rem;
        text-align: center;
        color: #666666;
        margin: 45px 15px;
    }
    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .event-container {
            width: 240px;
            height: 175px;
            background-size: cover;
            margin: 0 20px 20px 20px;
            .event-date {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 95px;
                height: 55px;
                background-color: #282930;
                box-shadow: 12px 12px 13px 3px rgba(0,0,0,0.33);
                color: $white;
                &__day {
                    font-family: GothamBold;
                    font-size: 3rem;
                    height: 38px;
                    padding-left: 10px;
                }
                &__month {
                    font-family: GothamMedium;
                    transform: rotate(270deg);
                }
            }
        }
        .event-1 {
            background-image: url('../assets/images/ViperRoom.jpg');
        }
        .event-2 {
            background-image: url('../assets/images/futbol-americano.jpg');
        }
        .event-3 {
            background-image: url('../assets/images/WhiskyAGoGo.jpg');
        }
        .event-4 {
            background-image: url('../assets/images/consola.jpg');
        }
    }
}

.footer {
    font-family: GothamMedium;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $light-gray;
    padding: 0 15vw;
    &-text {
        text-align: center;
        margin: 10px auto;
    }
}

//button styles
.button {
    display: inline-block;
    font-family: GothamBold;
    color: $button;
    border: 1px solid $button;
    border-radius: 1px;
    padding: 10px;
}

//additional styles
.bold {
    font-family: GothamBold;
}