@media screen and (min-width: 426px) {
    .header .logo-container .image-container {
        top: 45px;
        img {
            width: 200px;
        }
    }
    .stay { 
        &-image {
            width: 90vw; 
        }
    }
}