@media screen and (min-width: 426px) {
    .header .logo-container .image-container {
        top: 45px;
        img {
            width: 200px;
        }
    }
    .stay { 
        &-image {
            width: 90vw; 
        }
    }
    .form-container {
        top: 95px;
        .form {
            padding: 75px 55px 30px;
            &-title { margin-bottom: 60px; }
            input, select { margin: 10px 0 30px; }
            .cta:nth-last-child(3) { margin-bottom: 30px; }
            .cta:last-child { margin-top: 65px; }
            .button { margin-left: 60px; }
        }
    }
}